
<div class="container">
    <ng-container *ngIf="users$ | async as users;">
        <div class="container__users_wrapper">
            <h2 class="container__users_wrapper__header">Messages</h2>
            <div *ngFor="let user of users; let i = index; trackBy: trackByFn" (click)="openUserChat(user.id, i)" >
                <chat-box-user [user]="user"></chat-box-user>
            </div>
        </div>
    </ng-container>

</div>

<h1 *ngIf="usersError$ | async as error"> {{ error }}</h1>

<router-outlet style="display: none"></router-outlet>
